<?xml version="1.0"?>
<robot name="LWR" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find bhand_description)/urdf/bh282.urdf.xacro"/>

<!-- Import all Gazebo-customization elements, including Gazebo colors -->
<xacro:include filename="$(find bhand_description)/urdf/bh282.gazebo.xacro"/>


<!-- Inserts the barrett here with a specified name and direction ... -->
<xacro:bhand_macro name="bh" parent="world">
  <origin xyz="0 0 0" rpy="0 0 0" />
</xacro:bhand_macro>

<link name="world" />

</robot>
