<?xml version="1.0"?>
<launch>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam param="source_list"> ["/as64_joint_states"] </rosparam>
    <rosparam param="rate">500</rosparam>
    <rosparam param="use_gui">true</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find robot_sim)/rviz/config.rviz" output="screen" />


</launch>
