<?xml version="1.0"?>
<launch>

  <arg name="robot_config" default="$(find robot_sim)/config/ur10.yaml" />

  <rosparam command="load" file="$(arg robot_config)" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ur_description)/urdf/ur10_robot.urdf.xacro' limited:=true" />

  <include file="$(find robot_sim)/launch/common.launch" />

</launch>
